.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.title {
    font-weight: normal;
}

.button {
    width: 70px;
    height: 30px;
    border: none;
}

.photo_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
}

.user {
    margin-top: 20px;
    display: flex;
    width: 85%;
    border-radius: 30px;
    background: rgba(210, 210, 210, 0.5);
    padding: 15px
}

.user_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.user_location {
    padding-right: 25px;
}

.user_info .user_name{
    font-size: 21px;
}

.user_info_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn {
    background-color: rgba(15, 107, 15, 0.579);
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    transition: .5s;
    border: none;
    border-radius: 5px
}

.btn:hover {
    scale: 1.1;
}

.btn[disabled] {
    background-color:rgba(15, 107, 15, 0.2);
}

.current_page {
    background: rgba(15, 107, 15, 0.5);
    color: rgb(255, 255, 255)
}

.pagination_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 6px;
    overflow: hidden;
}

.pagination_item {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition: .1s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pagination_item:hover {
    cursor: pointer;
    transform: scale(1.1);
}