.name {
  padding-top: 30px;
  position: relative;
}

.name.active {
  transform: scale(1.1);
  color: gold;
}

.name::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(139, 139, 139);
  top: 39px;
  left: -15px;
}