.wrapper {
  margin-left: 20px;
  width: 80%;
  display: grid;
  grid-template-areas: 
    "t t"
    "n m";
    grid-template-columns: 1fr 2fr;
}

.title {
  grid-area: t;
  font-weight: normal;
}

.name_list {
  grid-area: n;
  padding-left: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.name_list::before {
  content: '';
  position: absolute;
  left: 220px;
  height: 100%;
  width: 2px;
  background-color: rgba(15, 107, 15, 0.579);
}

.name {
  padding-top: 30px;
  position: relative;
}

.name.active {
  transform: scale(1.1);
  color: gold;
}

.name::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(139, 139, 139);
  top: 39px;
  left: -15px;
}

.message_list {
  grid-area: m;
}

.message {
  border: 2px solid rgba(224, 224, 224, 0.5);
  padding: 15px;
  background-color: rgba(224, 224, 224, 0.5);
  border-radius: 15px;
}

.message_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding-bottom: 40px;
}

.img {
  background-color: yellow;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.img_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px 0px;
}


